{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots"content="index, follow" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" mcontent="{% block meta_description %}{% endblock meta_description %}" />
    <meta name="keywords" content="{% block meta_keywords %} {% endblock meta_keywords %}" />  
    <link rel="shortcut icon" href="{% static '/favicon.ico' %}" type="image/x-icon" />
    <title>  | {% block titile %} {% endblock %}</title>


    {% block head %} {% endblock %}

</head>

<body>
    {% include 'include/navbar.html' %}

    {% include 'include/msg.html' %}

    {% block body %} {% endblock %}

    {% block js %} {% endblock %}

</body>

</html>