{
    "PROJECT_NAME":"django_project",
    "DEBUG":"True",  //in gitlab variables set value to False not True
    "SECRET_KEY":"django-insecure-er@x3b+y$xu-ndo69**luv_s82442ja7y-hh4t5jb&dd^+0iik",
    "POSTGRES_NAME":"postgres",
    "POSTGRES_USER":"postgres",
    "POSTGRES_PASSWORD":"postgres",
    "POSTGRES_HOST":"postgres",
    "POSTGRES_PORT":"5435",
    "POSTGRES_IMAGE":"postgres:latest",
    "BACKEND_DOMAIN":"*",  // example.com api.example.com
    "CORS_ALLOWED_ORIGINS":"loclahost",  // example.com
    "DJANGO_PORT":"8000",
    "CI_REGISTRY_IMAGE":"test", //just use for local machin dont define in gitlab variables
    "IMAGE_VERSION":"1",
    "PGADMIN_EMAIL":"admin@gmail.com",
    "PGADMIN_PASSWORD":"admin"
}
